<p style="color: green"><%= notice %></p>

<%= render @simple %>

<div>
  <%= link_to "Edit this simple", edit_simple_path(@simple) %> |
  <%= link_to "Back to simples", simples_path %>

  <%= button_to "Destroy this simple", @simple, method: :delete %>
</div>
